<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Number</th>
        <th scope="col">Code</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Nationality</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <th scope="row">{{ driver.driverId }}</th>
        <td>{{ driver.permanentNumber }}</td>
        <td>{{ driver.code }}</td>
        <td>{{ driver.givenName }}</td>
        <td>{{ driver.familyName }}</td>
        <td>{{ driver.dateOfBirth }}</td>
        <td>{{ driver.nationality }}</td>
      </tr>
    </tbody>
  </table>
</div>
